/* Ejecutar en el servidor 74.208.120.199 y copiar los ID's */
SELECT * FROM bi_diario_ventas
WHERE 
-- bi_diario_ventas.NoDocumento='MTY-76963'
 bi_diario_ventas.Fecha_Documento BETWEEN '20230405' AND '20230405'
 AND
 bi_diario_ventas.NoDocumento2  LIKE 'NC%'
 -- AND tipo_documento NOT IN ('Carta Porte Preventa')
ORDER BY nodocumento2

/* Ejecutar esta Query 216.250.126.250 y despues copiar los ID's
para colocarlos  en LANGUAGE herramienta WD y reparar los registros*/
SELECT * FROM diario_ventas
WHERE 
-- diario_ventas.NoDocumento='MTY-76963'
 diario_ventas.Fecha_Documento BETWEEN '20230429' AND '20230429'
-- AND
-- diario_ventas.NoDocumento2  LIKE 'NC%'
 AND id NOT IN (1208232,
1208233,
1208234,
1208235,
1208236,
1208237,
1208238,
1208239,
1208240,
1208241,
1208242,
1208243,
1208244,
1208245,
1208246,
1208248,
1208249,
1208250,
1208251,
1208252,
1208253,
1208254,
1208255,
1208257,
1208258,
1208259,
1208260,
1208261,
1208262,
1208263,
1208264,
1208265,
1208266,
1208267,
1208268,
1208269,
1208270,
1208271,
1208272,
1208273,
1208274,
1208275,
1208276,
1208277,
1208278,
1208279,
1208280,
1208281,
1208282,
1208283,
1208284,
1208285,
1208286,
1208287,
1208288,
1208289,
1208290,
1208291,
1208292,
1208293,
1208294,
1208295,
1208296,
1208297,
1208298,
1208299,
1208300,
1208301,
1208302,
1208303,
1208304,
1208305,
1208306,
1208307,
1208308,
1208309,
1208310,
1208311,
1208312,
1208313,
1208314,
1208315,
1208316,
1208317,
1208318,
1208319,
1208320,
1208321,
1208322,
1208323,
1208324,
1208325,
1208326,
1208327,
1208328,
1208329,
1208330,
1208331,
1208332,
1208333,
1208334,
1208335,
1208336,
1208337,
1208338,
1208339,
1208340,
1208341,
1208342,
1208343,
1208344,
1208345,
1208346,
1208347,
1208348,
1208349,
1208350,
1208351,
1208352,
1208353,
1208354,
1208355,
1208356,
1208357,
1208358,
1208359,
1208360,
1208361,
1208362,
1208363,
1208364,
1208365,
1208366,
1208367,
1208368,
1208369,
1208370,
1208371,
1208372,
1208373,
1208374,
1208375,
1208376,
1208377,
1208378,
1208379,
1208380,
1208381,
1208382,
1208383,
1208384,
1208385,
1208386,
1208387,
1208388,
1208389,
1208390,
1208391,
1208392,
1208393,
1208394,
1208395,
1208396,
1208397,
1208398,
1208399,
1208400,
1208401,
1208402,
1208403,
1208404,
1208405,
1208406,
1208407,
1208408,
1208409,
1208410,
1208411,
1208412,
1208413,
1208414,
1208415,
1208416,
1208417,
1208418,
1208419,
1208420,
1208421,
1208422,
1208423,
1208424,
1208425,
1208426,
1208427,
1208428,
1208429,
1208430,
1208431,
1208432,
1208433,
1208434,
1208435,
1208436,
1208437,
1208438,
1208439,
1208440,
1208441,
1208442,
1208443,
1208444,
1208445,
1208446,
1208447,
1208448,
1208449,
1208450,
1208451,
1208452,
1208453,
1208454,
1208455,
1208456,
1208457,
1208458,
1208459,
1208460,
1208461,
1208462,
1208463,
1208464,
1208465,
1208466,
1208467,
1208468,
1208469,
1208470,
1208471,
1208472,
1208473,
1208474,
1208475,
1208476,
1208477,
1208478,
1208479,
1208480,
1208481,
1208482,
1208483,
1208484,
1208485,
1208486,
1208487,
1208488,
1208489,
1208490,
1208491,
1208492,
1208493,
1208494,
1208495,
1208496,
1208497,
1208498,
1208499,
1208500,
1208501,
1208502,
1208503,
1208504,
1208505,
1208506,
1208507,
1208508,
1208509,
1208510,
1208511,
1208512,
1208513,
1208514,
1208515,
1208516,
1208517,
1208518,
1208519,
1208520,
1208521,
1208522,
1208523,
1208524,
1208525,
1208526,
1208527,
1208528,
1208529,
1208530,
1208531,
1208532,
1208533,
1208534,
1208535,
1208536,
1208537,
1208538,
1208539,
1208540,
1208541,
1208542,
1208543,
1208544,
1208545,
1208546,
1208547,
1208548,
1208549,
1208550,
1208551,
1208552,
1208553,
1208554,
1208555,
1208556,
1208557,
1208558,
1208559,
1208560,
1208561,
1208562,
1208563,
1208564,
1208565,
1208566,
1208567,
1208568,
1208569,
1208570,
1208571,
1208572,
1208573,
1208574,
1208575,
1208576,
1208577,
1208578,
1208579,
1208580,
1208581,
1208582,
1208583,
1208584,
1208585,
1208586,
1208587,
1208588,
1208589,
1208590,
1208591,
1208592,
1208593,
1208594,
1208595,
1208596,
1208597,
1208598,
1208599,
1208600,
1208601,
1208602,
1208603,
1208604,
1208605,
1208606,
1208607,
1208608,
1208609,
1208610,
1208611,
1208612,
1208613,
1208614,
1208615,
1208616,
1208617,
1208618,
1208619,
1208620,
1208621,
1208622,
1208623,
1208624,
1208625,
1208626,
1208627,
1208628,
1208629,
1208630)
 -- AND tipo_documento NOT IN ('Carta Porte Preventa')
ORDER BY nodocumento2

/*Si la diferencia es mucha, ejecutamos este en ambos servidores*/

DELETE FROM nextpack.diario_ventas
WHERE id = 1190563;

SELECT * FROM diario_ventas dv
WHERE id = 1190563

-- WHERE  dv.NoDocumento2  IN ('NCR-13674','NCR-13673')
